
body{
  background-color: black;
  opacity: .9;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  margin: 0;
}

/* Header */


.header{
  display: flex;
  flex-wrap: wrap;
}

header{
  align-items: center;
  position: fixed;
  height: 69px;
  border-bottom: 1px solid seashell;
  width: 100%;
  z-index: 1;
}

.logo{
  flex-grow: 1;
}

img{
  height: 50px;
  margin-left: 10px;
}

nav{
text-align: right;
}

span{
  text-decoration: underline;
  padding: 20px 10px;
}
