
body{
  background-color: black;
  opacity: .9;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  margin: 0;
}

/* Header */

.header{
  display: flex;
  flex-wrap: wrap;
}

header{
  align-items: center;
  position: fixed;
  height: 69px;
  border-bottom: 1px solid seashell;
  width: 100%;
  z-index: 1;
}

.logo{
flex-grow: 1;
}

img{
  height: 50px;
  margin-left: 10px;
}

nav{
text-align: right;
}

nav span{
  text-decoration: underline;
  padding: 20px 10px;
}

/* Tea of the Month */

.month{
  display: flex;
  width: 1000px;
}

.text{
  text-align: center;
}

/* Locations */

.locations{
  background-image: url("/Users/angelachristian/teacozy/resources/images/img-locations-background.jpg");
  display: flex;
  height: 500px;
  width: 1200px;
  justify-content: center;
  align-items: center;

}

h2{
  display: block;
  text-align: center;
}


.address{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.downtown,
.bayside,
.oakdale{
  height: 300px;
  width: 300px;
  background-color: black;
}
.downtown,
.bayside{
  margin-right: 40px;
}


/* Contact Information */

.contact{
  height: 200px;
  text-align: center;
  display: block;
}

/* Footer */

footer{
  padding-left: 20px;
  text-align: left;
  position: static;
}

h5{
  display: block;
}
